<link rel="stylesheet" href="public/css/header-home.css">
<section class="start">
    <div class="mask">
        <header>
            <div class="container-default">
                <div class="row pt-4">
                    <div class="col" data-aos="fade-right" data-aos-duration="1000">
                        <img src="public/img/Logo AA Digital Design.png" alt="Logo_AA_Digital_Design">
                    </div>
                    <div class="col" data-aos="fade-left" data-aos-duration="1000">
                        <nav class="nav float-end">
                            <a class="nav-link text-white nav-header-home" aria-current="page" href="/">Home</a>
                            <a class="nav-link text-white nav-header-home" href="#services">Serviços</a>
                            <a class="nav-link text-white nav-header-home" href="/portifolio">Portifólio</a>
                            <a class="nav-link text-white nav-header-home" href="#">Contato</a>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="container-default">
                <div class="content-text">
                    <h1 data-aos="fade-right" data-aos-duration="1000">O Lugar certo para desenvolver a sua identidade no mundo digital.</h1>
                    <button class="btn btn-custom btn-lg" data-aos="fade-right" data-aos-duration="1000">Fale Agora Conosco</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    AOS.init();
</script>