
<link rel="stylesheet" href="public/css/header-home.css">
<section class="start">
    <div class="mask">
        <header>
            <div class="container-default">
                <div class="row pt-4">
                    <div class="col">
                        <img src="public/img/Logo AA Digital Design.png" alt="Logo_AA_Digital_Design">
                    </div>
                    <div class="col">
                        <nav class="nav float-end">
                            <a class="nav-link text-white" aria-current="page" href="#">Home</a>
                            <a class="nav-link text-white" href="#">Serviços</a>
                            <a class="nav-link text-white" href="#">Portifólio</a>
                            <a class="nav-link text-white" href="#">Contato</a>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="container-default">
                <div class="content-text">
                    <h1>O Lugar certo para desenvolver a sua identidade no mundo digital.</h1>
                    <button class="btn btn-custom btn-lg">Fale Agora Conosco</button>
                    <img src="public/img/Icone Whatsapp AA digital.png" alt="AA_digital_design_whatsapp"
                        class="bt-whatsapp">
                </div>
            </div>
        </div>
    </div>
</section>