<link rel="stylesheet" href="public/css/header-default.css">
<header>
    <div class="container-default">
        <div class="row">
            <div class="col" data-aos="fade-right" data-aos-duration="1000">
                <a href="/"><img src="public/img/logoroxo.png" alt="logo"></a>
            </div>
            <div class="col" data-aos="fade-left" data-aos-duration="1000">
                <nav class="nav float-end">
                    <a class="nav-link mt-4 nav-header-default" aria-current="page" href="/">Home</a>
                    <a class="nav-link mt-4 nav-header-default" href="#">Serviços</a>
                    <a class="nav-link mt-4 nav-header-default" href="#">Portifólio</a>
                    <a class="nav-link mt-4 nav-header-default" href="#">Contato</a>
                </nav>
            </div>
        </div>
    </div>
</header>
<script>
    AOS.init();
</script>