<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="public/img/favicon.ico">
    {{!-- AOS CSS --}}
    <link href="node_modules/aos/dist/aos.css" rel="stylesheet">
    {{!-- Import bootstrap css --}}
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <title>AA Digital Design - {{titlePage}}</title>
</head>

<body>
    {{{body}}}

    {{!-- Import button Whatsapp --}}
    {{> components/buttonWhatsapp}}

    {{!-- Footer default --}}
    <footer>
        <div class="container-default">
            <div class="row d-block-mobile-footer">
                <div class="col text-center-footer-mobile">
                    <a href="/"><img src="public/img/logoroxo.png" alt="Logo_AA_Digital_Design" class="logo-footer"></a>
                </div>
                <div class="col text-center pt-4">
                    <h6>Contato</h6>
                    <span>Email: </span><span>contato@aadigitaldesign.com.br</span>
                    <br>
                    <span>Telefone: </span><span>(21)96700-4070 / (21)96444-8046</span>
                </div>
                <div class="col text-end text-center-footer-mobile">
                    <svg class="bi icon-footer">
                        <use xlink:href="node_modules/bootstrap-icons/bootstrap-icons.svg#whatsapp" />
                    </svg>
                    <svg class="bi icon-footer">
                        <use xlink:href="node_modules/bootstrap-icons/bootstrap-icons.svg#instagram" />
                    </svg>
                    <svg class="bi icon-footer">
                        <use xlink:href="node_modules/bootstrap-icons/bootstrap-icons.svg#facebook" />
                    </svg>
                </div>
            </div>
        </div>
    </footer>
    {{!-- AOS JS Import --}}
    <script src="node_modules/aos/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Lato', sans-serif;
    }
    div.container-default {
        width: 1080px;
        margin: 0 auto;
    }
    footer {
        background-color: #E7EAF3;
        max-height: 120px;
    }
    footer .logo-footer {
        width: 250px;
        height: 100px;
        cursor: pointer;
    }
    footer h6 {
        color: #3A3D85;
    }
    footer span {
        font-size: 0.9rem;
        font-weight: 300;
        color: #3A3D85;
    }
    footer .icon-footer {
        width: 32px;
        height: 40px;
        fill: #3A3D85;
        margin: 30px 5px 5px 0;
        cursor: pointer;
    }
    @media only screen and (max-width: 500px) {
        .container-default {
            width: 100% !important;
            margin: 0;
        }
        footer {
            max-height: 280px !important;
        }
        div.d-block-mobile-footer {
            display: block;
        }
        div.text-center-footer-mobile {
            text-align: center !important;
        }
        div.text-center-footer-mobile svg {
            margin: 20px 0 0 0 !important;
        }
    }
</style>