<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="public/img/favicon.ico">
    {{!-- AOS CSS --}}
    <link href="node_modules/aos/dist/aos.css" rel="stylesheet">
    {{!-- Import bootstrap css --}}
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/default.css">
    <title>AA Digital Design - {{titlePage}}</title>
</head>

<body>
    {{{body}}}

    {{!-- Import button Whatsapp --}}
    {{> components/buttonWhatsapp}}

    {{!-- Footer default --}}
    <footer>
        <div class="container-default">
            <div class="row d-block-mobile-footer">
                <div class="col text-center-footer-mobile">
                    <a href="/"><img src="public/img/logoroxo.png" alt="Logo_AA_Digital_Design" class="logo-footer"></a>
                </div>
                <div class="col text-center pt-4 pt-mobile">
                    <h6>Contato</h6>
                    <span>Telefone: </span><span>(21)96700-4070 / (21)96444-8046</span>
                </div>
                <div class="col text-end text-center-footer-mobile">
                    <svg class="bi icon-footer">
                        <use xlink:href="node_modules/bootstrap-icons/bootstrap-icons.svg#whatsapp" />
                    </svg>
                    <svg class="bi icon-footer">
                        <use xlink:href="node_modules/bootstrap-icons/bootstrap-icons.svg#instagram" />
                    </svg>
                    <svg class="bi icon-footer">
                        <use xlink:href="node_modules/bootstrap-icons/bootstrap-icons.svg#facebook" />
                    </svg>
                </div>
            </div>
        </div>
    </footer>
    {{!-- AOS JS Import --}}
    <script src="node_modules/aos/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>