<link rel="stylesheet" href="public/css/contact.css">
{{!-- Import header default --}}
{{> headerDefault}}
<section class="contact">
    <div class="row">
        <div class="col text-center pt-4">
            <h1>Fale Conosco</h1>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-6 text-center pt-4 mobile-w-100">
            <p class="contact-paragraph">Se deseja falar conosco, preencha o formulário abaixo.
                Fique a vontade para fazer perguntas sobre nossos serviços, pedir informações sobre orçamento e etc.
                Ficaremos felizes em lhe responder.</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-4 mobile-w-100">
            <form action="/submit" id="form" method="POST">
                <div class="mb-3">
                    <label for="nameInput" class="form-label label-subtitle">Nome</label>
                    <input type="text" name="name" class="form-control" id="inputName">
                    <div class="invalid-feedback">
                        Campo Obrigatório.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="inputEmail" class="form-label label-subtitle">Email</label>
                    <input type="email" name="email" class="form-control" id="inputEmail">
                    <div class="invalid-feedback">
                        Campo Obrigatório.
                    </div>
                </div>
                <div class="row">
                    <label class="form-label label-subtitle">Assunto</label>
                    <div class="col-3 col-mobile">
                        <input type="radio" class="form-check-input" name="subject" value="design" id="inputSubject">
                        <label class="form-check-label label-radio">Design</label>
                    </div>
                    <div class="col-4 col-mobile">
                        <input type="radio" class="form-check-input" name="subject" value="social-media"
                            id="inputSubject">
                        <label class="form-check-label label-radio">Social Mídia</label>
                    </div>
                    <div class="col-5 col-mobile">
                        <input type="radio" class="form-check-input" name="subject" value="desenvolvimento"
                            id="inputSubject">
                        <label class="form-check-label label-radio">Desenvolvimento</label>
                    </div>
                </div>
                <div class="row">
                    <label class="pt-4 label-subtitle">Menssagem</label>
                    <div class="form-floating">
                        <textarea name="message" class="form-control mt-textarea" id="inputMessage"></textarea>
                        <div class="invalid-feedback">
                            Campo Obrigatório.
                        </div>
                    </div>
                </div>
                <button onclick="submitForm()" class="btn btn-submit-custom mt-4 mb-3">Enviar</button>
            </form>
            {{!-- Loading component --}}
                <div class="loader" id="loader">Loading...</div>
            {{!-- Alert request --}}
            <div class="alert alert-success mt-1 alert-response-success-dnone" role="alert" id="alertSuccess">
                Dados enviados com sucesso!
            </div>
            <div class="alert alert-danger mt-1 alert-response-danger-dnone" role="alert" id="alertDanger">
                Falha ao enviar dados. Tente novamente mais tarde.
            </div>
        </div>
    </div>
</section>

<script>
    const inputName = document.getElementById("inputName")
    const inputEmail = document.getElementById("inputEmail")
    const inputSubject = document.getElementById("inputSubject")
    const inputMessage = document.getElementById("inputMessage")
    const alertSuccess = document.getElementById("alertSuccess")
    const alertDanger = document.getElementById("alertDanger")
    const loader = document.getElementById("loader")

    function submitForm() {
        event.preventDefault()
        if (inputName.value == '' || inputEmail.value == '' || inputMessage.value == '') {
            if (inputName.value == '') {
                inputName.classList.add('is-invalid')
            }
            if (inputEmail.value == '') {
                inputEmail.classList.add('is-invalid')
            }
            if (inputMessage.value == '') {
                inputMessage.classList.add('is-invalid')
            }
        } else {
            request(inputName.value, inputEmail.value, inputSubject.value, inputMessage.value)
        }
    }
    inputName.addEventListener('change', function (e) {
        inputName.classList.remove('is-invalid')
    })
    inputEmail.addEventListener('change', function (e) {
        inputEmail.classList.remove('is-invalid')
    })
    inputMessage.addEventListener('change', function (e) {
        inputMessage.classList.remove('is-invalid')
    })

    function request(nameValue, emailValue, subjectValue, messageValue) {
        loader.style.display = 'block'
        let submitObj = {
            "name": nameValue,
            "email": emailValue,
            "subject": subjectValue,
            "message": messageValue
        }
        fetch('/submit', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(submitObj),
        }).then(response => {
            if (!response.ok) {
                throw Error(response.status)
            }
            return response.json();
        }).then(response => {
            console.log(response)
            loader.style.display = 'none'
            alertSuccess.classList.remove('alert-response-success-dnone')
            alertSuccess.classList.add('d-block')
        }).catch(e => {
            alertDanger.classList.remove('alert-response-success-dnone')
            alertDanger.classList.add('d-block')
            console.log(e);
        })
    }
</script>