<link rel="stylesheet" href="public/css/home.css">
{{!-- Import header home --}}
{{> headerHome}}

{{!-- Section services --}}
<section class="services pt-5" id="services">
    <div class="container-default">
        <div class="row m-0">
            <div class="col-12 text-center">
                <h2 class="title-section">Nossos Serviços</h2>
            </div>
            <div class="col-12 text-center">
                <p class="mx-auto mt-3 service-about">Desenvolvemos conteúdos profissionais com base nas melhores
                    tendências do mercado atual e proporcionamos produtos que valorizam e fortalecem e presença
                    digital de nossos clientes.
                    Confira abaixo os tipos de serviços que podemos proporcionar. </p>
            </div>
        </div>
        <div class="row m-0 pt-5 wrap-services-mobile">
            <div class="col">
                <div class="card card-custom card-services">
                    <div class="col-12 d-flex">
                        <div class="col-2">
                            {{!-- icon bootstrap --}}
                            <svg class="bi icon_hash">
                                <use xlink:href="node_modules/bootstrap-icons/bootstrap-icons.svg#command" />
                            </svg>
                        </div>
                        <div class="col-10">
                            <h3 class="title-card ps-4">Social Mídia</h3>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <p class="description">Cuidamos da sua rede social visando o crescimento da marca.
                            Trabalhamos valorizando a apresentação da sua marca, o aumento de seus seguidores e a
                            conversão de seus seguidores em ações de venda.
                            Trabalhamos também dando total apoio ao seu negócio, respondendo e dando feedback das
                            solicitações dos seus clientes no ambiente das redes sociais.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-custom card-services">
                    <div class="col-12 d-flex">
                        <div class="col-2">
                            {{!-- icon bootstrap --}}
                            <svg class="bi icon">
                                <use xlink:href="node_modules/bootstrap-icons/bootstrap-icons.svg#easel" />
                            </svg>
                        </div>
                        <div class="col-10">
                            <h3 class="title-card ps-4">Digital Design</h3>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <p class="description">Desenvolvemos peças gráficas seguido as melhores tendências do
                            mercado de design digital.Nos dedicamos a criar artes inovadoras e totalmente
                            profissionais.
                            Desenvolvemos Logos para marcas, peças gráficas e prototipagem para sites e artes para
                            suas redes socias.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-custom card-services">
                    <div class="col-12 d-flex">
                        <div class="col-2">
                            {{!-- icon bootstrap --}}
                            <svg class="bi icon">
                                <use xlink:href="node_modules/bootstrap-icons/bootstrap-icons.svg#code-slash" />
                            </svg>
                        </div>
                        <div class="col-10">
                            <h3 class="title-card ps-2">Desenvolvimento</h3>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <p class="description">Desenvolvemos todos os tipos de sites e trabalhamos com uma variedade
                            de plataformas e tecnologias afim de poder aplicar a mais adequada para o seu projeto.
                            Desenvolvemos também sistemas para lojas virtuais onde nossos clientes possam vender
                            seus produtos com eficácia e segurança. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- Section portfolio --}}
<section class="portfolio">
    <div class="container-default">
        <div class="row">
            <div class="col-12 text-center mt-5">
                <h2 class="title-section">Portfólio</h2>
            </div>
            <div class="col-12 d-flex flex-wrap">
                {{#each portfolio}}
                <div class="col-4 p-3 container-portfolio-mobile">
                    <div class="card card-custom container-img-portfolio mt-4 justify-content-center"><img src="{{imgPath}}" alt=""></div>
                    <div class="col-12 text-center">
                        <h4 class="mt-4 title-portfolio">{{title}}</h4>
                        <a href="/portifolio{{idUrl}}"><button class="btn btn-custom-portfolio">Saiba Mais</button></a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>

{{!-- Section depoiment --}}
<section class="depoiment">
    <div class="container-default">
        <div class="row">
            <div class="col-12 text-center p-4">
                <h2 class="title-section title-section-margin-mobile">Opinião dos Nossos Clientes</h2>
            </div>
        </div>
        <div class="row d-block-mobile">
            <div class="col text-center ps-3 pe-3" data-aos="fade-up" data-aos-duration="1000">
                <div class="wrap-img"><img src="public/img/raphaelfontes.jpg" alt=""></div>
                <h4 class="mt-3">Raphael Fontes</h4>
                <p class="office">Gerente de Projetos - Sesatech Tecnologia</p>
                <p class="mt-4">"Trabalhar com AA Digital Design é verdadeiramente gratificante. Possuem capacidade de entendimento rápido das
                    necessidades e conseguem aplicá-las de forma clara e objetiva.
                    A qualidade do trabalho é ímpar, provendo sempre recursos solicitados e indicando melhores
                    alternativas."</p>
            </div>
            <div class="col text-center ps-3 pe-3" data-aos="fade-up" data-aos-duration="1000">
                <div class="wrap-img"><img src="public/img/amandaviana.jpg" alt=""></div>
                <h4 class="mt-3">Amanda Viana</h4>
                <p class="office">COE - Estética Amanda Viana</p>
                <p class="mt-4">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac nisl at libero
                    interdum
                    bibendum venenatis vitae nulla. Vestibulum suscipit mollis nulla sit amet maximus. Sed fermentum
                    dolor eu est maximus, sed faucibus leo feugiat. Pellentesque ac massa fermentum, volutpat nulla
                    id,
                    venenatis dui."</p>
            </div>
        </div>
    </div>
</section>

{{!-- Section our team --}}
<section class="our-team pb-5">
    <div class="container-default">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="title-section mt-5">Nosso Time</h2>
            </div>
        </div>
        <div class="row d-flex d-block-mobile" data-aos="fade-up" data-aos-duration="1000">
            <div class="col p-4">
                <div class="wrap-team"><img src="/public//img/alexandre.jpeg" alt=""></div>
                <div class="wrap-name text-center pt-4">
                    <h5>Alexandre Oliveira - Desenvolvedor</h5>
                </div>
            </div>
            <div class="col p-4">
                <div class="wrap-team"><img src="/public//img/aline.jpeg" alt=""></div>
                <div class="wrap-name text-center pt-4">
                    <h5>Aline Oliveira - Design/Social Mídia</h5>
                </div>
            </div>
        </div>
    </div>
</section>