<link rel="stylesheet" href="public/css/home.css">
{{> headerHome}}
<section class="services pt-5">
    <div class="container-default">
        <div class="row m-0">
            <div class="col-12 text-center">
                <h2>Nossos Serviços</h2>
            </div>
            <div class="col-12 text-center">
                <p class="mx-auto mt-3 service-about">Desenvolvemos conteúdos profissionais com base nas melhores
                    tendências do mercado atual e proporcionamos produtos que valorizam e fortalecem e presença
                    digital de nossos clientes.
                    Confira abaixo os tipos de serviços que podemos proporcionar. </p>
            </div>
        </div>
        <div class="row m-0 pt-5">
            <div class="col-4">
                <div class="card card-custom">
                    <div class="col-12 d-flex">
                        <div class="col-2">
                            {{!-- icon bootstrap --}}
                            <svg class="bi icon_hash">
                                <use xlink:href="node_modules/bootstrap-icons/bootstrap-icons.svg#command" />
                            </svg>
                        </div>
                        <div class="col-10">
                            <h3 class="title-card ps-4">Social Mídia</h3>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <p class="description">Cuidamos da sua rede social visando o crescimento da marca.
                            Trabalhamos valorizando a apresentação da sua marca, o aumento de seus seguidores e a
                            conversão de seus seguidores em ações de venda.
                            Trabalhamos também dando total apoio ao seu negócio, respondendo e dando feedback das
                            solicitações dos seus clientes no ambiente das redes sociais.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card card-custom">
                    <div class="col-12 d-flex">
                        <div class="col-2">
                            {{!-- icon bootstrap --}}
                            <svg class="bi icon">
                                <use xlink:href="node_modules/bootstrap-icons/bootstrap-icons.svg#easel" />
                            </svg>
                        </div>
                        <div class="col-10">
                            <h3 class="title-card ps-4">Digital Design</h3>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <p class="description">Desenvolvemos peças gráficas seguido as melhores tendências do
                            mercado de design digital.Nos dedicamos a criar artes inovadoras e totalmente
                            profissionais.
                            Desenvolvemos Logos para marcas, peças gráficas e prototipagem para sites e artes para
                            suas redes socias.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card card-custom">
                    <div class="col-12 d-flex">
                        <div class="col-2">
                            {{!-- icon bootstrap --}}
                            <svg class="bi icon">
                                <use xlink:href="node_modules/bootstrap-icons/bootstrap-icons.svg#code-slash" />
                            </svg>
                        </div>
                        <div class="col-10">
                            <h3 class="title-card ps-2">Desenvolvimento</h3>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <p class="description">Desenvolvemos todos os tipos de sites e trabalhamos com uma variedade
                            de plataformas e tecnologias afim de poder aplicar a mais adequada para o seu projeto.
                            Desenvolvemos também sistemas para lojas virtuais onde nossos clientes possam vender
                            seus produtos com eficácia e segurança. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="portfolio">
</section>