* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

div.container-default {
    width: 1080px;
    margin: 0 auto;
}

footer {
    background-color: #E7EAF3;
    max-height: 120px;
}

footer .logo-footer {
    width: 250px;
    height: 100px;
    cursor: pointer;
}

footer h6 {
    color: #3A3D85;
    margin-bottom: 0 !important;
}

footer span {
    font-size: 0.9rem;
    font-weight: 300;
    color: #3A3D85;
}

footer .icon-footer {
    width: 32px;
    height: 40px;
    fill: #3A3D85;
    margin: 30px 5px 5px 0;
    cursor: pointer;
}

/* Desktop Styles > 1480px */
@media only screen and (min-width: 1480px) {
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

/*Mobile Styles*/
@media only screen and (max-width: 520px) {
    .container-default {
        width: 100% !important;
        margin: 0;
    }

    footer {
        max-height: 280px !important;
        margin-top: 20px;
        width: 100%;
    }

    div.d-block-mobile-footer {
        display: block;
    }

    div.text-center-footer-mobile {
        text-align: center !important;
    }

    div.text-center-footer-mobile svg {
        margin: 20px 0 0 0 !important;
    }

    .pt-mobile {
        padding-top: 0 !important;
    }

    div.d-block-mobile {
        display: block !important;
    }

    div.width-mobile {
        width: 100% !important;
        padding: 1.5rem;
    }
    div.text-center-mobile {
    text-align: center;
    }
}