*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
section.start{
    width: 100%;
    height: 100vh;
    background-image: url("../img/WallpapperSectionStart.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
div.mask{
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(38, 41, 67, 0.8);
    z-index: 2;
}
div.container-default{
    width: 1080px;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 85px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    z-index: 3;
}
header a{
    font-size: 0.9rem;
}
header a:hover{
    transform: scale(1.2);
    transition: 500ms;
}
header img{
    width: 260px;
    margin-top: -27px;
    cursor: pointer;
}
div.content{
    width: 100%;
    height: calc( 100vh - 85px);
    z-index: 3;
}
div.content div.content-text{
    width: 38%;
    padding-top: 60px;
}
div.content div.content-text h1{
    font-size: 2.1rem;
    color: #E6E6E6;
}
div.content div.content-text .btn-custom{
    color: #E6E6E6;
    border: 2px solid #E6E6E6;
    margin-top: 70px;
    transition: 600ms;
}
div.content div.content-text .btn-custom:hover{
    background-color: rgba(19, 21, 36, 0.8);
    color: white;
    transform: scale(1.1);
}
div.content div.content-text img{
    width: 75px;
    position: fixed;
    bottom: 15px;
    right: 25px;
    cursor: pointer;
}
div.content div.content-text img:hover{
    transform: scale(1.1);
    transition: 600ms;
}
section.services{
    width: 100%;
    background-color: rgba(92, 95, 181,0.2);
    padding-bottom: 60px;
}
section.services h2{
    color: #5C5FB5;
    font-weight: bold;
    font-size: 2.3rem;
    letter-spacing: 2px;
}
section.services p.service-about{
    color: #3A3D85;
    width: 700px;
    font-size: 1rem;
}
section.services .card-custom{
    padding: 15px 25px;
    display: flex;
    -webkit-box-shadow: 5px 5px 6px -4px rgba(0,0,0,0.42); 
    box-shadow: 5px 5px 6px -4px rgba(0,0,0,0.42);;
}
section.services .card-custom i{
    font-size: 3rem;
    color: #5C5FB5;
}
section.services .card-custom h3.social-media{
    font-size: 1.9rem;
    padding-top: 5px;
    margin-left: -15px;
    font-style: italic;
    color: #3A3D85;
}
section.services .card-custom h3.digital-design{
    font-size: 1.9rem;
    padding-top: 5px;
    margin-left: -25px;
    font-style: italic;
    color: #3A3D85;
}
section.services .card-custom h3.development{
    font-size: 1.9rem;
    padding-top: 5px;
    padding-left: 20px;
    font-style: italic;
    color: #3A3D85;
}
section.services .card-custom p.description{
    color: #3A3D85;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 20px;
}
section.portfolio{
    background-color: white;
    width: 100%;
    height: 1000px;
}
@media only screen and (min-width: 1600px){
    div.container-default{
        width: 1440px;
        margin: 0 auto;
    }
    div.content div.content-text{
        padding-top: 70px;
    }
    div.content div.content-text h1{
        margin-top: 200px;
        font-size: 2.3rem;
    }
}