<div class="container-whatsapp">
    <svg class="bi icon-whats">
        <use xlink:href="node_modules/bootstrap-icons/bootstrap-icons.svg#whatsapp" />
    </svg>
</div>

<style>
    .container-whatsapp {
        width: 60px;
        height: 60px;
        border-radius: 50px;
        position: fixed;
        bottom: 5%;
        right: 40px;
        z-index: 4;
        cursor: pointer;
    }
    .container-whatsapp .icon-whats {
        width: 60px;
        height: 60px;
        fill: #50ec62;
        transition: 0.5s;
    }
    .container-whatsapp .icon-whats:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }
</style>