<a href="{{linkWhats}}" target="_blank">
    <div class="container-whatsapp">
        <svg class="bi icon-whats">
            <use xlink:href="node_modules/bootstrap-icons/bootstrap-icons.svg#whatsapp" />
        </svg>
    </div>
</a>